* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

.mobile-only {
  display: none;
}

@keyframes highlight-fade {
  from {
    background-color: #fffbcc;
  }
  to {
    background-color: transparent;
  }
}

.row-highlight,
.row-highlight > td {
  animation: highlight-fade 2.5s ease-out;
}

@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none !important;
  }
}
